.row * {
  margin: 0;
  padding: 0;
}
.myTextArea {
  outline: none !important;
  box-shadow: 0.5px 0.5px 1px 0.5px rgba(49, 66, 163, 0.493);
  width: 90%;
  margin: 10px;
}
img.avatar:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0.5px !important;
}
.row button {
  width: 100% !important;
  margin: 10px;
}
.row .col-5{
    height:100%;
}
input {
  margin: 5px;
  max-width: 70%;
}
.col-1 {
  margin: 10px;
}
.iconDiv {
  display: flex;
  align-content: center;
  align-items: center;
}
.iconDiv button {
  margin: 5px;
}
.msgAvatar {
  margin-top: 15px;
}
form {
  margin: 25px;
  padding: 25px;
}
.MuiInputBase-root {
  height: 100%;
  background-color: #fff;
}
.row {
  width: 100%;
}

div.textField{
    margin-top:35px
}